version: "3"

networks:
  default:
    external:
      name: piggyMetrics

services:
  config:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: java
    restart: always
    ports:
      - 8888:8888
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/config/target/config-1.0.0-SNAPSHOT.jar:/usr/share/registry/config-1.0.0-SNAPSHOT.jar
    networks: 
      - default
    command: bash -c 'java -jar /usr/share/registry/config-1.0.0-SNAPSHOT.jar --server.port=8888 -Dlogging.level.org.springframework=DEBUG'

  registry:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: java
    restart: always
    depends_on:
      - config
    ports:
      - 8761:8761
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/registry/target/registry-0.0.1-SNAPSHOT.jar:/usr/share/registry/registry-0.0.1-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/registry/registry-0.0.1-SNAPSHOT.jar --server.port=8761 -Dlogging.level.org.springframework=DEBUG'
      "

  admin:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: java
    restart: always
    depends_on:
      - registry
    ports:
      - 9510:8080
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/admin/target/admin-1.0-SNAPSHOT.jar:/usr/share/admin/admin-1.0-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/admin/admin-1.0-SNAPSHOT.jar --server.port=8080 -Dlogging.level.org.springframework=DEBUG';
      "

  gateway:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: java
    restart: always
    depends_on:
      - config
    ports:
      - 8080:4000
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/gateway/target/gateway-1.0-SNAPSHOT.jar:/usr/share/gateway/gateway-1.0-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/gateway/gateway-1.0-SNAPSHOT.jar --server.port=4000 -Dlogging.level.org.springframework=DEBUG';
      "

  auth-service:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      NOTIFICATION_SERVICE_PASSWORD: $NOTIFICATION_SERVICE_PASSWORD
      STATISTICS_SERVICE_PASSWORD: $STATISTICS_SERVICE_PASSWORD
      ACCOUNT_SERVICE_PASSWORD: $ACCOUNT_SERVICE_PASSWORD
      MONGODB_PASSWORD: $MONGODB_PASSWORD
    image: sqshq/piggymetrics-auth-service
    restart: always
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    ports:
      - 5555:5000
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/auth-service/target/auth-service-1.0-SNAPSHOT.jar:/usr/share/auth-service/auth-service-1.0-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/auth-service/auth-service-1.0-SNAPSHOT.jar -Dlogging.level.org.springframework=DEBUG';
      "

  account-service:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      ACCOUNT_SERVICE_PASSWORD: $ACCOUNT_SERVICE_PASSWORD
      MONGODB_PASSWORD: $MONGODB_PASSWORD
    image: sqshq/piggymetrics-account-service
    restart: always
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/account-service/target/account-service-1.0-SNAPSHOT.jar:/usr/share/account-service/account-service-1.0-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/account-service/account-service-1.0-SNAPSHOT.jar -Dlogging.level.org.springframework=DEBUG';
      "


  statistics-service:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      MONGODB_PASSWORD: $MONGODB_PASSWORD
      STATISTICS_SERVICE_PASSWORD: $STATISTICS_SERVICE_PASSWORD
    image: sqshq/piggymetrics-statistics-service
    restart: always
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/statistics-service/target/statistics-service-1.0-SNAPSHOT.jar:/usr/share/statistics-service/statistics-service-1.0-SNAPSHOT.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar /usr/share/statistics-service/statistics-service-1.0-SNAPSHOT.jar -Dlogging.level.org.springframework=DEBUG';
      "


  notification-service:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      MONGODB_PASSWORD: $MONGODB_PASSWORD
      NOTIFICATION_SERVICE_PASSWORD: $NOTIFICATION_SERVICE_PASSWORD
    image: sqshq/piggymetrics-notification-service
    restart: always
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    volumes: 
      - /home/etud/diogene.moulron/TP/08/PiggyMetrics/notification-service/target/notification-service-1.0.0-SNAPSHOT.jar:/usr/share/notification-service/notification-service-1.0.0-SNAPSHOT.jar
      - /home/etud/diogene.moulron/TP/08/fakeSMTP-2.0.jar:/usr/share/notification-service/fakeSMTP-2.0.jar
    command: >
      /bin/sh -c "
        echo Waiting for config service start...;
        while ! curl --user "user:$CONFIG_SERVICE_PASSWORD" --write-out %{http_code} --silent --output /dev/null -f http://config:8888/actuator/health;
        do
          sleep 1;
        done;
        echo Connected!
        bash -c 'java -jar  /usr/share/notification-service/fakeSMTP-2.0.jar -s -b -p 2525 -a 127.0.0.1  > /dev/null' &
        bash -c 'java -jar /usr/share/notification-service/notification-service-1.0.0-SNAPSHOT.jar -Dlogging.level.org.springframework=DEBUG' 
      "



