version: '3.6'
services:
  config:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: openjdk:8-jre
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8888/actuator/health"]
      interval: 10s
      timeout: 1s
      retries: 5
    restart: always
    volumes: 
      - ./config/target:/app
    ports:
      - 8888:8888
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    command: "bash -c 'java -Xmx200m -jar /app/config.jar'"

  registry:
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    image: openjdk:8-jre
    restart: always
    volumes:
      - ./registry/target:/app
      - ./config/src/main/resources/etc:/app/etc
    ports:
      - 8761:8761
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    command: "bash -c 'cat /app/etc/hosts > /etc/hosts; java -Xmx200m -jar /app/registry.jar'"