security:
  oauth2:
    client:
      clientId: notification-service
      clientSecret: ${NOTIFICATION_SERVICE_PASSWORD}
      accessTokenUri: http://${AUTH_SERVER:auth-service}:5000/uaa/oauth/token
      grant-type: client_credentials
      scope: server

eureka:
  instance:
    health-check-url-path: /notifications/actuator/health
    statusPageUrlPath: /notifications/actuator/info

server:
  servlet:
    context-path: /notifications
  port: 0

remind:
  cron: 0 0 0 * * *
  email:
    text: "Hey, {0}! We''ve missed you here on PiggyMetrics. It''s time to check your budget statistics.\r\n\r\nCheers,\r\nPiggyMetrics team"
    subject: PiggyMetrics reminder

backup:
  cron: 0 0 12 * * *
  email:
    text: "Howdy, {0}. Your account backup is ready.\r\n\r\nCheers,\r\nPiggyMetrics team"
    subject: PiggyMetrics account backup
    attachment: backup.json

spring:
  data:
    mongodb:
      host: ${MONGODB_NOTIF_SERVER:notification-mongodb}
      username: user
      password: ${MONGODB_PASSWORD}
      database: piggymetrics
      port: ${MONGODB_NOTIF_PORT:27017} 
  mail:
    host: localhost
    port: 2525
