security:
  oauth2:
    client:
      clientId: statistics-service
      clientSecret: ${STATISTICS_SERVICE_PASSWORD}
      accessTokenUri: http://${AUTH_SERVER:auth-service}:5000/uaa/oauth/token
      grant-type: client_credentials
      scope: server

spring:
  data:
    mongodb:
      host: ${MONGODB_STAT_SERVER:statistics-mongodb}
      username: user
      password: ${MONGODB_PASSWORD}
      database: piggymetrics
      port: ${MONGODB_STAT_PORT:27017}
  boot:
    admin:
      client:
          management-url: /statistics/actuator

eureka:
  instance:
    health-check-url-path: /statistics/actuator/health
    statusPageUrlPath: /statistics/actuator/info

server:
  servlet:
    context-path: /statistics
  port: 0

rates:
  url: https://api.exchangeratesapi.io
